USE [master]
GO
/****** Object:  Database [testLaborator]    Script Date: 4/20/2017 4:49:57 PM ******/
CREATE DATABASE [testLaborator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testLaborator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testLaborator.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testLaborator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testLaborator_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testLaborator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testLaborator]
GO
/****** Object:  Table [dbo].[AnalizeGrafic]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnalizeGrafic](
	[AnalizaGraficID] [int] IDENTITY(1,1) NOT NULL,
	[DenumireAnaliza] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AnalizeGrafic] PRIMARY KEY CLUSTERED 
(
	[AnalizaGraficID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AnalizeGraficParametrii]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalizeGraficParametrii](
	[AnalizaGraficID] [int] NOT NULL,
	[Apanpacod] [int] NOT NULL,
 CONSTRAINT [PK_AnalizeGraficParametrii] PRIMARY KEY CLUSTERED 
(
	[AnalizaGraficID] ASC,
	[Apanpacod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AparateAnalizeParametri]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AparateAnalizeParametri](
	[apanpacod] [int] NOT NULL,
	[parnume] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AparateAnalizeParametrii] PRIMARY KEY CLUSTERED 
(
	[apanpacod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ARezultate]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARezultate](
	[rezcod] [int] IDENTITY(1,1) NOT NULL,
	[testcod] [int] NULL,
	[apanpacod] [int] NULL,
	[rezval] [varchar](50) NULL,
	[valminval] [varchar](50) NULL,
	[valmaxval] [varchar](50) NULL,
 CONSTRAINT [PK_ARezultate] PRIMARY KEY CLUSTERED 
(
	[rezcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ASeturi]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASeturi](
	[setcodintern] [int] IDENTITY(1,1) NOT NULL,
	[precod] [int] NOT NULL,
	[setdata] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_ASeturi] PRIMARY KEY CLUSTERED 
(
	[setcodintern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATeste]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATeste](
	[testcod] [int] IDENTITY(1,1) NOT NULL,
	[setcodintern] [int] NULL,
 CONSTRAINT [PK_ATeste] PRIMARY KEY CLUSTERED 
(
	[testcod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AnalizeGrafic] ON 

INSERT [dbo].[AnalizeGrafic] ([AnalizaGraficID], [DenumireAnaliza]) VALUES (1, N'TGP')
SET IDENTITY_INSERT [dbo].[AnalizeGrafic] OFF
INSERT [dbo].[AnalizeGraficParametrii] ([AnalizaGraficID], [Apanpacod]) VALUES (1, 287)
INSERT [dbo].[AnalizeGraficParametrii] ([AnalizaGraficID], [Apanpacod]) VALUES (1, 2986)
INSERT [dbo].[AnalizeGraficParametrii] ([AnalizaGraficID], [Apanpacod]) VALUES (1, 3884)
INSERT [dbo].[AparateAnalizeParametri] ([apanpacod], [parnume]) VALUES (287, N'TGP')
INSERT [dbo].[AparateAnalizeParametri] ([apanpacod], [parnume]) VALUES (2986, N'TGP')
INSERT [dbo].[AparateAnalizeParametri] ([apanpacod], [parnume]) VALUES (3884, N'ALT')
SET IDENTITY_INSERT [dbo].[ARezultate] ON 

INSERT [dbo].[ARezultate] ([rezcod], [testcod], [apanpacod], [rezval], [valminval], [valmaxval]) VALUES (1, 1, 287, N'36', N'9', N'72')
INSERT [dbo].[ARezultate] ([rezcod], [testcod], [apanpacod], [rezval], [valminval], [valmaxval]) VALUES (2, 2, 287, N'29', N'9', N'72')
INSERT [dbo].[ARezultate] ([rezcod], [testcod], [apanpacod], [rezval], [valminval], [valmaxval]) VALUES (3, 3, 287, N'24', N'9', N'72')
GO
SET IDENTITY_INSERT [dbo].[ARezultate] OFF
SET IDENTITY_INSERT [dbo].[ASeturi] ON 

INSERT [dbo].[ASeturi] ([setcodintern], [precod], [setdata]) VALUES (1, 610, CAST(N'2002-04-17 00:00:00' AS SmallDateTime))
INSERT [dbo].[ASeturi] ([setcodintern], [precod], [setdata]) VALUES (2, 611, CAST(N'2002-10-04 00:00:00' AS SmallDateTime))
INSERT [dbo].[ASeturi] ([setcodintern], [precod], [setdata]) VALUES (3, 612, CAST(N'2003-01-08 00:00:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[ASeturi] OFF
SET IDENTITY_INSERT [dbo].[ATeste] ON 

INSERT [dbo].[ATeste] ([testcod], [setcodintern]) VALUES (1, 1)
INSERT [dbo].[ATeste] ([testcod], [setcodintern]) VALUES (2, 2)
INSERT [dbo].[ATeste] ([testcod], [setcodintern]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[ATeste] OFF
ALTER TABLE [dbo].[AnalizeGraficParametrii]  WITH CHECK ADD  CONSTRAINT [FK_AnalizeGraficParametrii_AnalizeGrafic] FOREIGN KEY([AnalizaGraficID])
REFERENCES [dbo].[AnalizeGrafic] ([AnalizaGraficID])
GO
ALTER TABLE [dbo].[AnalizeGraficParametrii] CHECK CONSTRAINT [FK_AnalizeGraficParametrii_AnalizeGrafic]
GO
ALTER TABLE [dbo].[AnalizeGraficParametrii]  WITH CHECK ADD  CONSTRAINT [FK_AnalizeGraficParametrii_AparateAnalizeParametri] FOREIGN KEY([Apanpacod])
REFERENCES [dbo].[AparateAnalizeParametri] ([apanpacod])
GO
ALTER TABLE [dbo].[AnalizeGraficParametrii] CHECK CONSTRAINT [FK_AnalizeGraficParametrii_AparateAnalizeParametri]
GO
ALTER TABLE [dbo].[ARezultate]  WITH CHECK ADD  CONSTRAINT [FK_ARezultate_ATeste] FOREIGN KEY([testcod])
REFERENCES [dbo].[ATeste] ([testcod])
GO
ALTER TABLE [dbo].[ARezultate] CHECK CONSTRAINT [FK_ARezultate_ATeste]
GO
ALTER TABLE [dbo].[ATeste]  WITH CHECK ADD  CONSTRAINT [FK_ATeste_ASeturi] FOREIGN KEY([setcodintern])
REFERENCES [dbo].[ASeturi] ([setcodintern])
GO
ALTER TABLE [dbo].[ATeste] CHECK CONSTRAINT [FK_ATeste_ASeturi]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAnalizePacient]    Script Date: 4/20/2017 4:49:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_GetAnalizePacient]

@cnp as char(13) = '1111111111111',
@analiza int = 1


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

		select ase.setData, ar.rezVal, ar.valMinVal, ar.valmaxVal
				from aseturi ase
						inner join testSpital..Prezentari pr on ase.precod=pr.preCod
						left join testSpital..Transferuri tr on pr.precod = tr.precod
						inner join testSpital..Pacienti pac on pac.pacCod = pr.pacCod
						inner join ateste at on ase.setCodIntern = at.setCodIntern
						inner join ARezultate ar on at.testCod = ar.testCod
				where pac.pacCNP='1111111111111' and
				ar.apanpaCod in (select Apanpacod from AnalizeGraficParametrii where AnalizaGraficID=@analiza)
				and ase.setdata is not null
				order by  ase.setdata
END

GO
USE [master]
GO
